body{
    font-family: "jakarta", sans-serif !important;
    background-color: rgb(245, 240, 234);
}

.navbar {
    background-color: #f8f9fa;
    height:5rem;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}

/* Footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;

}


.f-info-socials, .f-info-links ,.f-info-brand{
    width:100%;
    display: flex;
    align-items: center; 
    justify-content: center ;
   
}

.f-info-socials i{
   font-size:1.2rem;
  margin-right: 1.2rem;
}


.f-info{
    text-align: center;
    display: flex;
    height:8rem;
    background-color: grey;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* Cards */
.card{
    border:none !important;
    margin-bottom: 2rem;;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}


.card-body{
    padding: 0;
}

.card-text{
    font-weight:400 !important ;
}

.listing-link{
    text-decoration: none;
}

/* card effect */

.card-img-overlay{
    opacity: 0;
}

 .card-img-overlay:hover{
    opacity: 0.1;
    background-color: white;
   
}